@{
    ViewData["Title"] = "Home Page";
}
<body>
    <main>
        <h1>Agregar palabra</h1>
        <h3>Escribí la palabra que quieras agregar: </h3>
        <section>
        <div>
            <h4>La palabra es:</h4>
            <div id = "guionPalabra">
            </div>
        </div>
        </section>
    </main>
</body>