@{
    ViewData["Title"] = "Home Page";
}
<body>
    <main>
        <h1>EL AHORCADO</h1>
        <h3>Bienvenido al ahorcado! Debes adivinar la palabra con un máximo de 10 intentos.</h3>
        <section>
        <div>
            <h4>La palabra es:</h4>
            <div id = "guionPalabra">
            </div>

            <div id = "intentosRestantes">
            </div>
        </div>
        <div>
            <input type="text" id= "letra" maxLength ="1" placeholder="Ingresa la letra"></br></br>
            <button onclick = "ArriesgarLetra()">PROBAR</button>
            <button><a href="@UR">Nuestro menú</a></button>
        </div>
        <input type ="hidden" id="palabra" value="@ViewBag.palabra">
        </section>
        <section> 
            <h3>Letras que no están: </h3>
            <div id = "letrasFaltantes">
            </div>
        </section>
        <section>
        <div id= "resultado">
        </div>
        </section>
    </main>
</body>
